@import "tailwindcss";

@theme inline {
  --color-brand-black: #000000;
  --color-brand-teal: #06959E;
  --color-brand-yellow: #EBD02D;
  --color-brand-purple: #9E1E6D;
  --color-brand-pink: #EB1599;
  --color-brand-blue: #0058D4;
  --color-brand-cyan: #22ede3;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #000000;
  color: #ffffff;
}